<div class="putup_content">
    <div class="putup_form">
        <p>商品名</p>
        <form><input placeholder="商品名を入力ししませんか？"></input></form>
    </div>
    <div class="putup_form">
        <p>説明</p>
        <form><input placeholder="説明を入力しませんか？"></input></form>
    </div>
    <div class="putup_form">
        <p>カテゴリー</p>
        <form><input placeholder="カテゴリーを選びませんか？"></input></form>
    </div>
    <div class="putup_form">
        <p>価格</p>
        <form><input placeholder="価格を設定しませんか？"></input></form>
    </div>
    <div class="putup_picture_select">
        <a href="#" class="btn-flat-simple">
          <i class="fa fa-caret-right"></i> 画像の選択
        </a>
    </div>
    <div class="send_putup">
        <a href="#" class="btn-flat-simple">
          <i class="fa fa-caret-right"></i> 送信
        </a>
    </div>
</div>