<div class="list_content">
    <div class="putup_product">
        <div class="product_pic_1"></div>
        <div class="product_discription">
            <p>本 1300円</p>
        </div>
    </div>
    <div class="putup_product">
        <div class="product_pic_2"></div>
        <div class="product_discription">
            <p>ハムスター 100円</p>
        </div>
    </div>
    <div class="putup_product">
        <div class="product_pic_2"></div>
        <div class="product_discription">
            <p>ハムスター 100円</p>
        </div>
    </div>
</div>