<div class="product_content">
    <div class="sellstatus">
            <p class="category">カテゴリー：雑貨　ブックカバー</p>
    </div>
    <div class="productpic">
    </div>
    <div class="description">
        <p class="price">価格：4000弱円</p>
    </div>
    <div class="product_edit">
        <a href="#" class="btn-flat-simple">
          <i class="fa fa-caret-right"></i> 編集する
        </a>
    </div>
    <p>手作りしました。ぜひ、お買い求めください</p>
    <div class="delete_product">
        <a href="#" class="btn-flat-simple">
          <i class="fa fa-caret-right"></i> 削除する
        </a>
    </div>
</div>