<div class="profedit_content">
    <div class="pic"></div>
    <div class="edit_picform">
        <a href="#" class="btn-flat-simple">
          <i class="fa fa-caret-right"></i> 画像を選択
        </a>
    </div>
    <div class="profedit_form">
        <p>名前</p>
            <form><input placeholder="名前を入力"></input></form>
    </div>
    <div class="profedit_form">
        <p>説明</p>
            <form><input placeholder="説明を入力"></input></form>
    </div>
    <div class="profedit_form">
        <p>パスワード</p>
            <form><input placeholder="パスワードを入力"></input></form>
    </div>
    <div class="profedit_form">
        <p>パスワード（確認）</p>
            <form><input placeholder="パスワード（確認）を入力"></input></form>
    </div>
    <div class="edit_send">
        <a href="#" class="btn-flat-simple">
          <i class="fa fa-caret-right"></i> 送信
        </a>
    </div>
</div>