<div class="profile_content">
    <div class="name">
        <h1>タツナミシュウイチ</h1>

    </div>
    <div class="profile_icon">
    </div>
    <div class="user_discription">
        <p>（現在の出品数は1300個です）</p>
        <p>いろいろ売ってます</p>
    </div>
</div>