<div class="sign_content">
    <div class="form discription">
        <p>おかえりなさい！ログインなんてどうですか？</p>
    </div>
    <div class="form email">
        <form><input placeholder="メールアドレス"></input></form>
    </div>
    <div class="form password">
        <form><input placeholder="パスワード"></input></form>
    </div>
    <div class="form send">
        <a href="#" class="btn-flat-simple">
          <i class="fa fa-caret-right"></i> ログイン
        </a>
    </div>
</div>