<div class="list_content">
    <div class="market_product">
        <div class="product_pic_1"></div>
        <div class="product_discription">
            <p>ハムスター 100円</p>
            <div class="fav">
                <a href="#" class="btn-flat-simple">
                  <i class="fa fa-caret-right"></i> お気に入りに追加
                </a>
            </div>
        </div>
    </div>
    <div class="market_product">
        <div class="product_pic_2"></div>
        <div class="product_discription">
            <p>ハムスター 100円</p>
            <div class="fav">
                <a href="#" class="btn-flat-simple">
                  <i class="fa fa-caret-right"></i> お気に入りに追加
                </a>
            </div>
        </div>
    </div>
    <div class="market_product">
        <div class="product_pic_2"></div>
        <div class="product_discription">
            <p>ハムスター 100円</p>
            <div class="fav">
                <a href="#" class="btn-flat-simple">
                  <i class="fa fa-caret-right"></i> お気に入りに追加
                </a>
            </div>
        </div>
    </div>
</div>

<div class="search_content">
    <h1>詳細検索</h1>
    <div class="searchform">
        <p>キーワード検索</p>
        <form><input placeholder="キーワード追加"></input></form>
    </div>
    <div class="searchform">
        <p>カテゴリー</p>
        <form><input placeholder="カテゴリーを入力"></input></form>
    </div>
    <div class="searchform">
        <p>ソート</p>
        <form><input placeholder="並び替え"></input></form>
    </div>
    <div class="price_form">
        <p>値段</p>
        <div class="pricerange">
            <form><input placeholder="100"></input></form>から
            <form><input placeholder="5億"></input></form>
        </div>
    </div>
    <div class="search_button">
        <a href="#" class="btn-flat-simple">
          <i class="fa fa-caret-right"></i> 検索
        </a>
    </div>
</div>